body {
    font-family: 'Source Sans Pro';
    overflow: hidden;
}

h1 {
    font-family: 'Montserrat';
    font-size: 6.2em;
    font-weight: 900;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

h2 {
    font-family: 'Montserrat';
    font-size: 4.45em;
    font-weight: 900;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

h4 {
    font-family: 'Montserrat';
    font-weight: 200;

}

footer {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
}

footer:hover {
    color: #fff;
}

footer span {
    float: right;
}

.site-canvas {
    position: relative;
    text-align: center;
}

.intro {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: #fff;
    overflow: hidden;
}

.title {
    padding-top: 35vh;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}

.title a {
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

.button {
    margin: 50px 10px 0;
    width: 160px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    color: #8C1A6A;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
    transition: 0.05s ease-in-out;
    display: inline-block;
    user-select: none;
    cursor: pointer;
}

.button:hover {
    transform: scale(0.95);
}

.confetti {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #191321;
}

.confetti-cell {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    opacity: 0;
    animation: 1s fadeIn cubic-bezier(0.22, 0.61, 0.36, 1);
    animation-fill-mode: forwards;
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: block;
    /* filter: invert(1); */
}

.icon.i1 {
    background-image: url(../images/1.svg);
}

.icon.i2 {
    background-image: url(../images/2.svg);
}

.icon.i3 {
    background-image: url(../images/4.svg);
}

.icon.i4 {
    background-image: url(../images/5.svg);
}

.icon.i5 {
    background-image: url(../images/6.svg);
}

.settings {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 550px;
    height: 330px;
    border-radius: 15px;
    background: #fff;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.8) translate3d(0, -80px, 0);
    display: none;
    animation: 350ms fadeIn cubic-bezier(0.22, 0.61, 0.36, 1);
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
    }
}

.settings h3 {
    margin: 0 0 20px;
    padding: 20px;
    font-size: 1.6em;
    font-weight: 700;
    color: #8C1A6A;
    background: rgba(0, 0, 0, 0.05);
}

.settings h3 span {
    position: relative;
    width: 30px;
    height: 30px;
    float: right;
    display: block;
    cursor: pointer;
}

.settings h3 span:before,
.settings h3 span:after {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background: #8C1A6A;
    transform: rotate(45deg);
    content: '';
}

.settings h3 span:after {
    transform: rotate(-45deg);
}

.settings .field.half {
    margin: 0 20px 20px;
    float: left;
}

.settings .field label {
    margin-bottom: 10px;
    font-size: 1.4em;
}

.settings .field.half input {
    width: 235px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
}

.settings .field.half input:focus {
    outline: 0 solid transparent;
    border-color: #8C1A6A;
}

.settings .field.half label {
    display: block;
}

.settings .field {
    margin: 20px;
}

.settings .field.full label {
    margin-left: 10px;
    display: inline-block;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    display: inline-block;
}

#head2{
    margin-top: -5vh;
}
#head3 {
    padding-top: 20px;
}

#headlink{
    font-family: 'Montserrat';
    font-weight: 200;
    border-bottom: none;
    color: #FC4465;
 
}


    @media screen and (max-width: 736px) {
        h1 {
            font-family: 'Montserrat';
            font-size: 5.2em;
            font-weight: 900;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
        }

        h2 {
            font-family: 'Montserrat';
            font-size: 2.45em;
            font-weight: 900;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
        }

        h4 {
            font-family: 'Montserrat';
            font-weight: 200;
        }
        
    }
