<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hackatron Schedule</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
  <link rel="stylesheet" href="css/style-live.css">
</head>
  <body class="a gradient-background" ng-app="app" ng-controller="ctrl">
    <main>
      <section v-for="(day, index) in schedule">
        <header>
          Sat, Mar 17 - Sun, Mar 18
        </header>
        <ul>
          <li v-for="slot in day.agenda" v-bind:class="{ current: checkTime(slot.range[0], slot.range[1]) }">
            <h3>
              <b>{{slot.display.h}}</b>{{slot.display.m}}{{slot.display.a}}</h3>
            <div v-html="slot.desc"></div>
            <div>
              <small v-html="slot.location"></small>
            </div>
          </li>
          <li class="after-hours">
            <div>
              <b>Hacking starts 12 PM March 17th. Hacking ends 12PM March 18th</b>
              <br /><b>Workshops start at 1PM March 17th.</b>
              <br /><b>Submissions and Prizes at <a class="hackerlink" href="http://sfhacks2018.hackerearth.com">Hackearth</a></b>
              <br />
            </div>
          </li>
        </ul>
      </section>
    </main>
    <aside>
      <div class="clock">
        <!-- <h3>{{time}}</h3> -->
      </div>
      <div class="control" v-bind:class="{ show: showTimeTraveller }">
        <header v-on:click="showTimeTraveller = !showTimeTraveller">
          <div>
            <b>Time Traveler</b>
          </div>
          <button>
            <span>_</span>
          </button>
        </header>
        <div>
          <p>
            <input type="range" min="13" max="23.9" step="0.1" v-model="now" id="traveler" />
          </p>
        </div>
      </div>
      <img src="1.svg" class="sflogo">
    </aside>
  </body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js'></script>



  <script src="js/live.js"></script>




</body>

</html>